services:
  community_microservice:
    container_name: community_microservice
    build: ./community_microservice
    volumes:
      - ./community_microservice/code:/usr/src/app
    networks:
      - msexample
    ports:
      - "3011:3011"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

  usermicroservice:
    container_name: usermicroservice
    build: ./usermicroservice
    volumes:
      - ./usermicroservice/code:/usr/src/app
    networks:
      - msexample
    ports:
      - "3012:3012"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

  itemmicroservice:
    container_name: itemmicroservice
    build: ./itemmicroservice
    volumes:
      - ./itemmicroservice/code:/usr/src/app
    networks:
      - msexample
    ports:
      - "3013:3013"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

  gateway:
    container_name: apigateway
    build: ./apigateway
    volumes:
      - ./apigateway/code:/usr/src/app
    networks:
      - msexample
    ports:
      - "3010:3010"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

networks:
  msexample:
    driver: bridge